.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 1440px;
  max-height: 232px;
  margin: 0 auto;
  padding: 36px 32px;
  background-color: #ffffff;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  column-gap: 24px;
  padding: 20px 0 0 250px;
  letter-spacing: 2%;
}

.column {
  display: flex;
  width: 324px;
  flex-direction: column;
  gap: 12px;
}

.link {
  color: #253017;
}

.copyright {
  margin-top: 32px;
  font-size: 12px;
  color: #69735D;
}

.marker::before {
  content: "•";
  margin-right: 0.8em;
  font-size: 0.9em;
}